.mainBackground {
    -fx-background-color: linear-gradient(gray,DimGrey);
}

.secondaryBackground{
    -fx-background-color:  linear-gradient(lightgray, darkgrey);
}

.mainLabel{
    -fx-text-fill:  linear-gradient(orange , orangered);
}

.mainBtn {
    -fx-background-radius: 30px;
    -fx-padding: 10px;
    -fx-background-color: linear-gradient(orange, orangered);
}

.secondaryBtn {
    -fx-background-color: linear-gradient(white, lightgrey);
    -fx-background-radius: 8px;
    -fx-padding: 5px;
}