#chat{
    -fx-padding: 5px;
}


#chat .cell{
    -fx-end-margin: 2px;
    -fx-background-insets: 0px, 2px;
}

#online-column{
    -fx-alignment: center;
}

#video-button{
    -fx-background-image: url('icons/camera.png');
    -fx-background-size: 30px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}